* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: aliceblue;
  align-items: center;
  margin-bottom: 3%;
}

section p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #232525;
}

section:nth-child(3) {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 39%;
}

section:nth-child(3) div {
  text-align: center;
  margin: 5px;
  padding: 15px;
  background-color: darkgray;
  border-radius: 10px;
}

section:nth-child(3) div h4 {
  margin-bottom: 15px;
}

hr {
  margin:auto;
  margin-top: 10px;
  width: 15%;
  text-align: center;
}

footer {
  margin: 15px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}